.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the App fills the full height of the viewport */
}

.Nav { /* Assuming this class for Nav */
  position: fixed; /* Fixes Nav at the top */
  top: 0;
  width: 100%; /* Ensures Nav spans the full width */
  z-index: 1000; /* Keeps Nav above other content */
}

.App-area {
  flex-grow: 1; /* Takes up remaining space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px; /* Adjust based on Nav height to prevent overlap */
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

